/*  
    Visualize
    the design to use togeather with Visualize.js
    -------------------------------------------------------
    
    Contact
    Email: darta.krampe@gmail.com
    Twitter: http://twitter.com/daartak
    Source: https://github.com/daartak/Visualize
*/

h1, h2, h3 {
	color: steelblue;
}

text {
	font-size: 12px;
}

text.parent {
	fill: #1f77b4;
	font-weight: bold;
}

svg 
{
	border: 1px solid gray;
}

a {
	cursor:pointer;
}


/* Circle pack layout */
circle {
	fill: #ccc;
	stroke: #999;
	pointer-events: all;
}

circle.parent {
	fill: #1f77b4;
	fill-opacity: .1;
	stroke: steelblue;
}

circle.parent:hover {
	stroke: #ff7f0e;
	stroke-width: .5px;
}

circle.child:hover {
	stroke: #ff7f0e;
  	cursor:pointer;	
}

text.child.hovered{
	fill: steelblue;
}

/* Force graph layout */
path.link {
	fill: none;
	stroke: #666;
	stroke-width: 2px;
}

path.link.resolved {
	stroke-dasharray: 0,10, 1;
}

path.looppath.link.redirect 
{
	stroke: Red;
}

path.looppath.link.source, 
path.looppath.link.redirect.source {
	stroke: #2ca02c;
	stroke-width: 2.5px;
}

path.looppath.link.target, 
path.looppath.link.redirect.target {
	stroke: blue;
	stroke-width: 2.5px;
}

circle.loopcircle {
	fill: #CEF6F5;
	stroke: steelblue;
	stroke-width: 1.5px;
}

circle.loopcircle.first {
	fill: #CCCEEE;
}

circle.alone {
	fill: red;
}

circle.loopcircle.hovered {
	fill: green;
}

text.shadow {
	stroke: #fff;
	stroke-width: 3px;
	stroke-opacity: .8;
}

div.tooltip {   
	position: absolute;           
	text-align: center;                            
	height: 20px;                 
	padding: 10px 10px 5px 10px;             
	font: 12px sans-serif;        
	background: lightsteelblue;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;         
}


/* Tee map layout */
text.hovered{
	fill: white;
	font-weight: bold;
}

.cell rect {
	cursor:pointer;
}

.parentCell text {
	font-weight: bold;
}
