<header>
    
</header>
<div id="body">
    <section >
        <h3>Visualize <span id="subtitle"></span></h3>
        
        <script type="text/javascript">
            $(document).on("ready", init);

            function init() {
                var visualizer = new Visualizer({
                    getAllMethod: 'api/values/',
                    getDetailsMethod: 'api/values/',
                    width: screen.width - 30,
                    height: screen.height,
                    target: '#mainContent',
                    detailsCallback: function (id) {
                        drawDetails(visualizer, id);
                        $('#state').val(id);
                    }
                });

                var details = $('#detailsLayout');
                             

                function drawDetails(v, id) {
                    v.Clear();
                    details.show();
                    v.VisualizeForceGraph(details.val(), id);
                    $("#subtitle").empty().append("- Loop " + id);
                }

                $('#layout').change(function () {
                    var val = $(this).val();
                    visualizer.Clear();
                    details.hide();
                    $("#subtitle").empty();
                    visualizer.VisualizeProducts(val);
                });

                details.change(function () {
                    drawDetails(visualizer, $("#state").val());
                });

                $('#layout').trigger('change');
                
            }
        </script>
        <input type=hidden id=state />
        <select id="layout">
            <option value="circle">Circle</option>
            <option value="map">Map</option>
        </select>
        <select id="detailsLayout">
            <option value="true">Static</option>
            <option value="false">No</option>
        </select><br />
        <br />
        <div id="mainContent">
            
        </div>
        
    </section>
</div>
